.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(218, 23%, 16%);
}

.main .advice-box {
    background-color: hsl(217, 19%, 24%);
    max-width: 540px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0px 35px;
}

.advice-box .advice {
    font-size: 1.3rem;
    color: hsl(150, 100%, 66%);
    margin-top: 85px;
    margin-bottom: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.advice-box .titulo .space{
    margin-left: 8px;
}

.advice-box .advice-text {
    font-size: 2.8rem;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.advice-box picture img{
    margin-bottom: 40px;
    max-width: 100%;
}

.advice-box .btn {
    background-color: hsl(150, 100%, 66%);
    border: 1px solid hsl(150, 100%, 66%);
    border-radius: 100%;
    border-width: 20px;
    transform: translateY(50%);
}

.advice-box .btn:hover{
    cursor: pointer;
    box-shadow: 0 0 30px hsl(150, 100%, 66%);
    transition: 0.5s ease-in-out;
}

